In [1]:
import warnings
warnings.filterwarnings('ignore')
from pathlib import Path
import pandas as pd
import scipy.stats as stats

In [14]:
# Import CSV files 
TB_Rates = Path('Resources/TB_Rates.csv')
HDI = Path('Resources/HDI.csv')
Drug_Resistant_Rates = Path('Resources/Drug_Resistant_Rates.csv')

# Create Data Frames 
tb_rates_df = pd.read_csv(TB_Rates)
hdi_df = pd.read_csv(HDI)
drug_resistant_df = pd.read_csv(Drug_Resistant_Rates)

In [15]:
# Clean tb_rates.df
tb_rates_df.head()

,country,iso2,iso3,iso_numeric,g_whoregion,year,e_pop_num,e_inc_100k,e_inc_100k_lo,e_inc_100k_hi,...,cfr,cfr_lo,cfr_hi,cfr_pct,cfr_pct_lo,cfr_pct_hi,c_newinc_100k,c_cdr,c_cdr_lo,c_cdr_hi
0,Afghanistan,AF,AFG,4,EMR,2000,19542982,190.0,122.0,271.0,...,NaN,NaN,NaN,NaN,NaN,NaN,36.0,19.0,13.0,30.0
1,Afghanistan,AF,AFG,4,EMR,2001,19688632,189.0,122.0,271.0,...,NaN,NaN,NaN,NaN,NaN,NaN,51.0,27.0,19.0,42.0
2,Afghanistan,AF,AFG,4,EMR,2002,21000256,189.0,122.0,270.0,...,NaN,NaN,NaN,NaN,NaN,NaN,66.0,35.0,24.0,54.0
3,Afghanistan,AF,AFG,4,EMR,2003,22645130,189.0,122.0,270.0,...,NaN,NaN,NaN,NaN,NaN,NaN,61.0,32.0,23.0,50.0
4,Afghanistan,AF,AFG,4,EMR,2004,23553551,189.0,122.0,270.0,...,NaN,NaN,NaN,NaN,NaN,NaN,78.0,41.0,29.0,64.0

In [17]:
hdi_df.head()

,Back,Table 1. Human Development Index and its components,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,SDG3,NaN,SDG4.3,NaN,SDG4.4,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Human Development Index (HDI),NaN,Life expectancy at birth,NaN,Expected years of schooling,NaN,Mean years of schooling,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,HDI rank,Country,Value,NaN,(years),NaN,(years),NaN,(years),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
drug_resistant_df.head()

,country,iso2,iso3,iso_numeric,g_whoregion,year,source_rr_new,e_rr_pct_new,e_rr_pct_new_lo,e_rr_pct_new_hi,source_rr_ret,e_rr_pct_ret,e_rr_pct_ret_lo,e_rr_pct_ret_hi,e_inc_rr_num,e_inc_rr_num_lo,e_inc_rr_num_hi
0,Afghanistan,AF,AFG,4,EMR,2015,Model,5.1,0.45,19.0,Surveillance,8.6,6.5,11.0,3600,0,10000
1,Afghanistan,AF,AFG,4,EMR,2016,Model,5.1,0.50,20.0,Surveillance,11.0,9.4,14.0,3800,0,11000
2,Afghanistan,AF,AFG,4,EMR,2017,Model,5.2,0.53,19.0,Surveillance,15.0,13.0,16.0,3900,0,11000
3,Afghanistan,AF,AFG,4,EMR,2018,Model,5.2,0.54,20.0,Surveillance,19.0,17.0,20.0,4100,0,12000
4,Afghanistan,AF,AFG,4,EMR,2019,Model,5.3,0.55,20.0,Surveillance,24.0,21.0,26.0,4300,0,12000