In [1]:
import warnings
warnings.filterwarnings('ignore')
from pathlib import Path
import pandas as pd
import scipy.stats as stats

In [2]:
# Import CSV files 
TB_Rates = Path('Resources/TB_Rates.csv')
HDI = Path('Resources/HDI.csv')
Drug_Resistant_Rates = Path('Resources/MDR_rates.csv')

# Create Data Frames 
tb_rates_df = pd.read_csv(TB_Rates)
hdi_df = pd.read_csv(HDI)
drug_resistant_df = pd.read_csv(Drug_Resistant_Rates)

In [3]:
# Clean tb_rates.df
tb_rates_df.head()

,country,iso2,iso3,iso_numeric,g_whoregion,year,e_pop_num,e_inc_100k,e_inc_100k_lo,e_inc_100k_hi,...,cfr,cfr_lo,cfr_hi,cfr_pct,cfr_pct_lo,cfr_pct_hi,c_newinc_100k,c_cdr,c_cdr_lo,c_cdr_hi
0,Afghanistan,AF,AFG,4,EMR,2000,19542982,190.0,122.0,271.0,...,NaN,NaN,NaN,NaN,NaN,NaN,36.0,19.0,13.0,30.0
1,Afghanistan,AF,AFG,4,EMR,2001,19688632,189.0,122.0,271.0,...,NaN,NaN,NaN,NaN,NaN,NaN,51.0,27.0,19.0,42.0
2,Afghanistan,AF,AFG,4,EMR,2002,21000256,189.0,122.0,270.0,...,NaN,NaN,NaN,NaN,NaN,NaN,66.0,35.0,24.0,54.0
3,Afghanistan,AF,AFG,4,EMR,2003,22645130,189.0,122.0,270.0,...,NaN,NaN,NaN,NaN,NaN,NaN,61.0,32.0,23.0,50.0
4,Afghanistan,AF,AFG,4,EMR,2004,23553551,189.0,122.0,270.0,...,NaN,NaN,NaN,NaN,NaN,NaN,78.0,41.0,29.0,64.0

In [4]:
hdi_df.head()

   HDI rank            Country_Name  Human Development Index (HDI) (Value)
0         1             Switzerland                                  0.962
1         2                  Norway                                  0.961
2         3                 Iceland                                  0.959
3         4  Hong Kong, China (SAR)                                  0.952
4         5               Australia                                  0.951

In [5]:
drug_resistant_df.head()

,country,iso2,iso3,iso_numeric,g_whoregion,year,mdr_coh,mdr_succ,mdr_fail,mdr_died,mdr_lost
0,Afghanistan,AF,AFG,4,EMR,2011,21.0,14.0,0.0,2.0,0.0
1,Afghanistan,AF,AFG,4,EMR,2012,38.0,27.0,0.0,6.0,3.0
2,Afghanistan,AF,AFG,4,EMR,2013,46.0,29.0,1.0,6.0,9.0
3,Afghanistan,AF,AFG,4,EMR,2014,86.0,56.0,0.0,10.0,20.0
4,Afghanistan,AF,AFG,4,EMR,2015,83.0,53.0,0.0,14.0,16.0